<wicket:panel>

	<table>
		<tr>
			<td style="text-align: center;"><img wicket:id="uploadedImage"
				style="width: 150px; border-color: #E8E8E8; border-width: 1px; border-style: solid;" /></td>
		</tr>

		<form wicket:id="uploadForm">
			<tr>
				<td style="text-align: right;"><label>Select file :</label> <input
					wicket:id="fileUpload" size="20" type="file" /></td>
			</tr>
			<tr>
				<td style="text-align: right;"><input wicket:id="uploadButton"
					type="submit" value="Upload" /></td>
			</tr>
		</form>

	</table>

</wicket:panel>